div.wrap {
	width:1170px;
	margin:0 auto;
}

header {
	h1 {
		margin: 0;
	}
	form {
		float:right;
		position:relative;
		top: -34px;
		width:200px;
		.search {
			border: 1px solid $dark-gray;
			height:30px;
			float:left;
		}
		.submit {
			background: #222222 url('../../img/search.png') center center no-repeat;
			text-indent: -9999px;
			float:right;
			width: 32px;
			height: 34px;
			border: 0 none;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}

.main {
	width: 870px;
	float: left;
	margin: 0 30px 30px 0;
	h1 {
		margin: 0 0 10px 0;
	}
	.featured {
		div {
			background: #ffe8d6;
			img {
				float:left;
				border: 1px solid #f06c00;
				margin: 0 30px 0 0;
			}
		}		
	}
	.trio {
		ul {
			list-style-type:none;
			margin:0;
			padding:0;
			li {
				width: 270px;
				float:left;
				text-align:center;
				margin: 0 30px 0 0;
				img {
					border: 1px solid $darker-gray;
				}
				.rating {
  				unicode-bidi: bidi-override;
  				direction: rtl;
					color: #737373;
					margin: 0 0 10px 0;
				}
				.rating > span {
  				display: inline-block;
  				position: relative;
  				width: 1.1em;
				}
				.rating > span:hover:before,
				.rating > span:hover ~ span:before {
   				content: "\2605";
   				position: absolute;
					color: #e59f00;
				}
			}
			li.third {
				margin: 0;
			}
		}
	}
}

.sidebar {
	width: 270px;
	float: right;
	h1 {
		margin: 0 0 20px 0;
	}
	article {
		background: $lightest-gray;
		padding:20px;
		margin: 0 0 30px 0;
	}
	.categories {
		ul {
			list-style-type: none;
			margin:0;
      padding:0;
			li {
				background: url('../../img/arrow.png') center left no-repeat;
				padding: 0 0 0 15px;
				margin: 0 0 20px 0;
				a {
				}
				a:hover {
					text-decoration:underline;
				}
			}
		}
	}
	.recent {
		ul {
			list-style-type:none;
			margin:0;
			padding:0;
			li {
				margin-bottom: 20px;
				display:table;
				p {
					display: table-cell;
					vertical-align:middle;
					a:hover {
						text-decoration:underline;
					}
					.price {
						font-weight:bold;
					}
				}
				img {
					border: 1px solid $darker-gray;
					margin: 0 15px 0 0;
				}
			}
		}
	}
}
