/* line 1, ../sass/partials/_ie7.scss */
.sidebar .recent ul li {
  position: relative;
}
/* line 3, ../sass/partials/_ie7.scss */
.sidebar .recent ul li img {
  float: left;
}
/* line 6, ../sass/partials/_ie7.scss */
.sidebar .recent ul li p {
  position: absolute;
  width: 200px;
}

/* line 12, ../sass/partials/_ie7.scss */
span.highlight {
  color: #e59f00!important;
}
